/** Search form */
.search-form {
  position: relative;

  @extend .form-inline;

  label {
    @extend .form-group;

    font-weight: normal;
  }

  .search-field {
    padding-left: 2.25em;
    width: 100%;

    @extend .form-control;
  }

  .fa-search {
    position: absolute;
    top: 50%;
    left: 0.75rem;
    color: var(--gray-600);
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
  }

  .search-submit {
    @extend .btn;
    @extend .btn-secondary;
  }
}
