/** Search form */
.search-form {
  position: relative;

  @extend .form-inline;

  .search-field {
    padding-left: 2.25em;

    @extend .form-control;
  }

  .fa-search {
    position: absolute;
    top: 50%;
    left: 0.75rem;
    color: $gray-600;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
  }

  .search-form .search-submit {
    @extend .btn;
    @extend .btn-secondary;
  }
}
