.tnp {
  &-email {
    background: var(--white) !important;
    border-radius: $border-radius;
    margin-bottom: 0.5rem;
    font-size: 1rem !important;
    border: 1px var(--gray-300) solid !important;

    @extend .form-control;

    &:focus {
      border-color: $primary !important;
    }
  }

  &-submit {
    background: var(--gray-300) !important;
    color: var(--text-color) !important;
    border-radius: $border-radius !important;
    font-weight: bold;

    @extend .btn;
    @extend .btn-secondary;

    &:hover {
      background: var(--gray-400) !important;
    }
  }
}

