.footer {
  background-color: var(--white);
  border-top: 1px var(--gray-200) solid;
  margin-top: 4rem;
  padding: 3rem 0;

  &-info {
    display: flex;
  }

  &-address {
    order: 0;

    &-title {
      font-size: 1.25rem;
      margin-bottom: 0.5rem;
    }

    ul {
      display: flex;
      margin: 0;
      padding: 0;
      list-style: none;
      flex-wrap: wrap;
      max-width: 800px;
      line-height: 2;
    }

    li {
      flex-shrink: 0;
      margin-right: 1rem;
      color: var(--text-muted);
      max-width: 100%;
    }

    a {
      color: $text-muted;
      text-decoration: underline;

      &:hover {
        color: $text-default;
      }
    }
  }

  &-logo {
    display: flex;
    order: 1;
    margin-left: auto;
    align-items: flex-end;

    img {
      width: 180px;
      opacity: 0.75;
      transition: 0.25s ease-in-out;

      &:hover {
        opacity: 1;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .footer {
    margin-top: 2rem;
    padding: 2rem 0;

    &-info {
      flex-direction: column;
    }

    &-logo {
      margin-top: 2rem;
      margin-left: 0;
    }
  }
}
