.banner {
  margin: 0;

  &-container {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;
  }

  &-band {
    background: $white;
    padding: 0.75rem 1rem;
    border-radius: 0 0 $border-radius $border-radius;
    box-shadow: $default-shadow;
  }

  .brand {
    display: flex;
    align-items: center;
    color: $gray-600;
    margin-left: auto;

    img {
      height: 1.75rem;
    }

    &-local {
      font-size: 1.25rem;
      letter-spacing: -0.3px;
      line-height: 1;
      margin-left: 0.5rem;
      transition: 0.25s ease-in-out;
      opacity: 1;

      &-hidden {
        opacity: 0;
      }
    }
  }

  &-local-image {
    position: relative;
    background-size: cover;
    background-position: center;
    margin-bottom: 2rem;
    overflow: hidden;
  }

  &-local-name {
    position: relative;
    height: 20rem;
    display: flex;
    align-items: flex-end;
    z-index: 1;
    padding: 1rem;

    a {
      color: $white;
    }

    h1 {
      font-size: 5rem;
      color: $white;
      font-weight: bold;
      letter-spacing: -0.03em;
    }
  }
}

/* blobs */
.blob {
  position: absolute;
  width: $blob-size;
  height: $blob-size;
  overflow: hidden;
  border-radius: $blob-radius;
  background: $gradient;
  transform: rotate($blob-rotation);
  transition: all 0.5s ease-in-out;

  &-1 {
    bottom: -35rem;
    left: -20rem;
  }

  &-2 {
    right: -20rem;
    top: -35rem;
  }
}

@include media-breakpoint-down(md) {
  .banner {
    .local-name {
      h1 {
        font-size: 4rem;
      }
    }
  }

  .blob {
    &-1 {
      left: -34rem;
      bottom: -37rem;
    }

    &-2 {
      right: -33rem;
      top: -36rem;
    }
  }
}
