.banner {
  margin: 0;

  &-container {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;
  }

  &-band {
    background: $white;
    border-radius: 0 0 $border-radius $border-radius;
    box-shadow: $default-shadow;
    overflow: hidden;

    &-row {
      display: flex;

      &--nav {
        margin: 0;
        max-height: calc(100vh - 100px);
        overflow-y: scroll;
        border-top: 1px $gray-200 solid;
      }
    }
  }

  &-local-image {
    position: relative;
    background-size: cover;
    background-position: center;
    margin-bottom: 2rem;
    overflow: hidden;
  }

  &-local-name {
    position: relative;
    height: 20rem;
    display: flex;
    align-items: flex-end;
    z-index: 1;
    padding: 1rem;
    text-shadow: 0 0 10px rgba($black, 0.5);

    a {
      color: $white;
      transition: 0.25s ease-in-out;

      &:hover {
        text-decoration: none;
        opacity: 0.75;
      }
    }

    h1 {
      font-size: 5rem;
      color: $white;
      font-weight: bold;
      letter-spacing: -0.03em;
    }
  }
}

.brand {
  display: flex;
  align-items: center;
  color: $gray-600;
  padding: 0 1rem;

  img {
    height: 1.75rem;
  }

  &-local {
    font-size: 1.25rem;
    letter-spacing: -0.3px;
    line-height: 1;
    margin-left: 0.5rem;
    transition: 0.25s ease-in-out;
    opacity: 1;

    &-hidden {
      opacity: 0;
    }
  }

  &:hover {
    text-decoration: none;
    color: $gray-600;
  }
}

.nav {
  &-shortcut {
    margin-left: auto;
    margin-right: 1rem;
    display: flex;
    align-items: center;

    ul {
      display: flex;
      margin: 0;
      padding: 0;
      list-style: none;
    }

    li:nth-child(n+5) {
      display: none;
    }

    a {
      color: $gray-600;
      padding: 0.5rem;

      &:hover {
        color: $gray-900;
        text-decoration: none;
      }
    }

    [class^="icon-"] a::before {
      margin-right: 0.5rem;
    }
  }

  &-network {
    background: $gray-100;
    padding: 1rem 2rem;
    padding-bottom: 1rem;
  }

  &-primary {
    padding: 2rem;
    padding-bottom: 1.5rem;

    ul {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
      margin: 0 auto;
      padding: 0 2rem;
      line-height: 2;
    }

    a {
      font-size: 1.75rem;
      font-weight: bold;
      color: $gray-900;
      letter-spacing: -0.025em;
      width: fit-content;
      transition: 0.25s ease-in-out;

      &:hover {
        text-decoration: none;
        background: $gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transform: translateX(2px);
      }
    }

    [class^="icon-"] a::before {
      margin-right: 1rem;
      font-weight: normal;
    }
  }
}

.drawer-nav {
  width: 100%;

  h2 {
    margin-bottom: 1rem;

    a {
      color: $gray-700;
      font-size: 1.5rem;
      font-weight: bold;
      letter-spacing: -0.02em;
    }
  }

  h3 {
    font-weight: bold;
    font-size: 1rem;
    color: $text-muted;
    letter-spacing: 0.03em;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;

    &.territorial {
      margin-top: 1rem;
      display: flex;
      flex-wrap: wrap;
      line-height: 2.25;

      a {
        background: $white;
        border-radius: 2rem;
        padding: 0.25rem 0.75rem;
        margin-right: 0.75rem;
        white-space: nowrap;
        font-size: 0.85rem;

        &:hover {
          background: $gradient;
          color: $white;
          text-decoration: none;
        }
      }
    }
  }

  li {
    padding: 0;
    margin: 0;
  }

  &-toggle {
    background: $white;
    border: 0;
    border-left: 1px $gray-200 solid;
    color: $gray-600;
    padding: 0.75rem 1rem;
    font-size: 1.25rem;

    &:hover {
      background: $gray-100;
    }

    .far {
      display: flex;
      height: 1.5em;
      width: 1.5em;
      align-items: center;
      justify-content: center;
    }

    .fa-times {
      display: none;
    }

    &[aria-expanded="true"] .fa-bars {
      display: none;
    }

    &[aria-expanded="true"] .fa-times {
      display: flex;
    }
  }
}

.admin-bar {
  .banner {
    &-container {
      top: 32px;
    }

    &-band-row--nav {
      max-height: calc(100vh - 110px);
    }
  }
}

/* blobs */
.blob {
  position: absolute;
  width: $blob-size;
  height: $blob-size;
  overflow: hidden;
  border-radius: $blob-radius;
  background: $gradient;
  transform: rotate($blob-rotation);
  transition: all 0.5s ease-in-out;

  &-1 {
    bottom: -35rem;
    left: -20rem;
  }

  &-2 {
    right: -20rem;
    top: -35rem;
  }
}

@include media-breakpoint-down(lg) {
  .nav-shortcut li:nth-child(n+4) {
    display: none;
  }
}

@include media-breakpoint-down(md) {
  .nav {
    flex-direction: column;

    &-open {
      overflow: hidden;
    }
  }

  .banner {
    .local-name {
      h1 {
        font-size: 4rem;
      }
    }
  }

  .blob {
    &-1 {
      left: -34rem;
      bottom: -37rem;
    }

    &-2 {
      right: -33rem;
      top: -36rem;
    }
  }
}
