.content {
  display: grid;
  grid-template-columns: 1.25fr 1.25fr 1fr;
  grid-template-areas: "content content sidebar";
  gap: $card-gap;

  main {
    grid-area: content;
  }

  aside {
    grid-area: sidebar;
  }
}

body:not(.sidebar-primary):not(.page):not(.single) {
  .content {
    grid-template-columns: auto 900px auto;
    grid-template-areas: "sidebar content filler";
  }

  .banner-local-name h1 {
    margin-bottom: 4rem;
  }
}

.template-index-page,
.template-regidors,
.template-wide {
  .content {
    grid-template-columns: 1fr;
    grid-template-areas: "content";
    gap: 0;
  }
}

@include media-breakpoint-down(md) {
  .content {
    grid-template-columns: 1fr;
    grid-template-areas:
      "content"
      "sidebar";
  }

  body:not(.sidebar-primary):not(.page):not(.single) {
    .content {
      grid-template-columns: 1fr;
      grid-template-areas: "content";
      gap: 0;
    }
  }
}
