.page-menu {
  margin: 0;
  padding: 0;
  list-style: none;

  ul {
    list-style: none;
  }

  a {
    display: flex;
    font-size: 1.25rem;
    padding: 0.75rem 1rem;
    background: var(--white);
    margin: 0.75rem 0;
    border-radius: $border-radius;
    line-height: 1.25;
    align-items: center;

    &:hover {
      text-decoration: none;
      background: $gradient;
      color: $white;
    }
  }

  img {
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 100%;
    margin-right: 0.5rem;
  }

  .current_page_item > a {
    position: relative;
    background: var(--gray-800);
    color: var(--white);
    font-weight: bold;
    z-index: 5;

    &:hover {
      background: var(--gray-900);
    }
  }
}
