.post {
  &-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &-link {
    position: relative;
    overflow: hidden;
    display: grid;
    grid-template-columns: 140px 1fr;
    color: $text-default;
    padding: var(--card-padding, 1rem);
    transition: 0.25s ease-in-out;
    margin-bottom: 1rem;
    height: 100%;
    min-height: 125px;

    @extend .card;

    &:hover {
      text-decoration: none;
      transform: translateY(-0.25rem);
      box-shadow: $raised-shadow;

      h5 {
        background: $gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    &:active {
      transform: translateY(0.25rem);
      box-shadow: $raised-shadow;
    }

    &:focus {
      outline: 0;
      box-shadow: 0 0 0 4px rgba($primary, 0.5), $raised-shadow;
      border-radius: 4px;
    }
  }

  &-title {
    margin-bottom: 0;
    font-weight: bold;
    letter-spacing: -0.03em;
    font-size: 1.35rem;
    line-height: 1.5;
  }

  &-excerpt {
    font-size: 0.9rem;
    color: $text-muted;

    p {
      margin: 0;
    }
  }

  &-thumbnail {
    margin: -1rem 1rem -1rem -1rem;
    background: var(--gray-300);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: $text-supermuted;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .entry-link {
    position: relative;
    overflow: hidden;
    display: flex;
    color: $text-default;
    padding: var(--card-padding, 1rem);
    transition: 0.25s ease-in-out;
    height: 100%;

    @extend .card;

    header {
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    &:hover {
      text-decoration: none;
      transform: translateY(-0.25rem);
      box-shadow: $raised-shadow;

      .entry-title {
        background: $gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    &:active {
      transform: translateY(0.15rem);
      box-shadow: $raised-shadow;
    }

    &:focus {
      outline: 0;
      box-shadow: 0 0 0 4px rgba($primary, 0.5), $raised-shadow;
      border-radius: 4px;
    }
  }

  .entry-title {
    margin-bottom: 1rem;
    font-weight: bold;
    letter-spacing: -0.03em;
  }

  .entry-thumbnail {
    margin: -1rem -1rem 1rem -1rem;

    img {
      object-fit: cover;
      width: 100%;
      height: 300px;
    }
  }

  .entry-excerpt {
    margin-bottom: 1rem;
    color: $text-muted;
  }

  .entry-bottom {
    display: flex;
    margin-top: auto;

    .entry-more {
      margin-left: auto;
    }
  }

  .updated {
    color: $text-muted;
  }
}

.home-posts {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: $card-gap;

  li {
    display: flex;
    align-items: stretch;

    .post {
      width: 100%;
    }
  }

  &.home-has-highlight li:first-child {
    grid-column: 1/-1;

    .entry-link {
      min-height: 250px;
      background-color: $gray-800;

      &:hover {
        .entry-title {
          -webkit-text-fill-color: $white;
        }
      }
    }

    .entry-thumbnail {
      margin: -1.75rem;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.35) 60%);
      }

      img {
        height: 350px;
        object-fit: cover;
      }
    }

    .entry-info {
      position: absolute;
      color: $white;
      bottom: 2rem;
      left: 1rem;
      right: 1rem;
    }

    .entry-bottom {
      position: absolute;
      color: $white;
      bottom: 1rem;
      left: 1rem;
      right: 1rem;

      .updated {
        color: rgba($white, 0.75);
      }
    }

    .entry-excerpt {
      display: none;
    }
  }
}

.archive-posts {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    margin: 2rem 0;
  }

  .post .entry-link header {
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-rows: auto auto;
    grid-template-areas:
      "thumbnail info"
      "thumbnail bottom";
  }

  .entry-thumbnail {
    grid-area: thumbnail;
    margin: -1rem 1rem -1rem -1rem;

    img {
      height: 100%;
    }
  }

  .entry-info {
    grid-area: info;
  }

  .entry-bottom {
    grid-area: bottom;
  }

  .legislatura {
    a {
      @extend .card;

      position: relative;
      padding-left: 5rem;
      transition: 0.25s ease-in-out;

      .entry-title {
        width: fit-content;
        color: var(--text-default);
      }

      .entry-bottom {
        display: flex;
        color: var(--text-muted);
      }

      .entry-more {
        margin-left: auto;
      }

      &:hover {
        text-decoration: none;
        transform: translateY(-0.15rem);

        .entry-title {
          background: $gradient;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }

      &::before {
        display: flex;
        position: absolute;
        content: "\f15c";
        font-family: "Font Awesome 5 Pro", sans-serif;
        font-size: 3rem;
        top: 0;
        bottom: 0;
        left: 1.5rem;
        align-items: center;
        color: var(--gray-300);
      }
    }

    .entry-excerpt {
      display: none;
    }
  }
}

.compromis-posts {
  margin-top: 5rem;
}

.post-type-archive-legislatura {
  .archive-posts {
    margin-top: -8rem;
    z-index: 100;
    position: relative;
  }
}

@include media-breakpoint-down(lg) {
  .home-posts {
    grid-template-columns: 1fr;
  }
}

@include media-breakpoint-down(sm) {
  .compromis-posts {
    .post-list {
      .post-link {
        grid-template-columns: 100px 1fr;

        .post-title {
          font-size: 1rem;
        }
      }
    }
  }

  .home-posts {
    .post {
      .entry-title {
        font-size: 1.5rem;
      }

      .entry-thumbnail img {
        height: 230px;
      }
    }
  }

  .archive-posts {
    .post .entry-link header {
      grid-template-columns: auto;
      grid-template-areas:
        "thumbnail"
        "info"
        "bottom";
    }

    .entry-thumbnail {
      margin: -1rem -1rem 1rem -1rem;

      img {
        height: 230px;
      }
    }

    .entry-excerpt {
      display: none;
    }
  }
}
