.post {
  .updated {
    color: $text-muted;
  }

  .entry-link {
    position: relative;
    overflow: hidden;
    display: flex;
    color: $text-default;
    padding: var(--card-padding, 1rem);
    background: $white;
    border-radius: $border-radius;
    box-shadow: $default-shadow;
    transition: 0.25s ease-in-out;

    header {
      display: flex;
      flex-direction: column;
    }

    &:hover {
      text-decoration: none;
      transform: translateY(-0.5rem);
      box-shadow: $raised-shadow;
    }

    &:active {
      transform: translateY(0.25rem);
      box-shadow: $raised-shadow;
    }

    &:focus {
      outline: 0;
      box-shadow: 0 0 0 4px rgba($primary, 0.5), $raised-shadow;
      border-radius: 4px;
    }
  }

  .entry-title {
    margin-bottom: 1rem;
    font-weight: bold;
    letter-spacing: -0.03em;
  }

  .entry-thumbmail {
    margin: -1rem -1rem 1rem -1rem;

    img {
      width: 100%;
      height: auto;
    }
  }

  .entry-excerpt {
    margin-bottom: 1rem;
    color: $gray-600;
  }

  .entry-bottom {
    display: flex;
    margin-top: auto;

    .entry-more {
      margin-left: auto;
    }
  }
}
