.post {
  .updated {
    color: $text-muted;
  }

  .entry-link {
    overflow: hidden;
    display: block;
    color: $text-default;
    padding: 1rem;
    background: $white;
    border-radius: $border-radius;
    box-shadow: $default-shadow;
    transition: 0.25s ease-in-out;

    &:hover {
      text-decoration: none;
      transform: translateY(-0.5rem);
      box-shadow: $raised-shadow;
    }

    &:active {
      transform: translateY(0.25rem);
      box-shadow: $raised-shadow;
    }

    &:focus {
      outline: 0;
      box-shadow: 0 0 0 4px rgba($primary, 0.5), $raised-shadow;
      border-radius: 4px;
    }
  }

  .entry-title {
    margin-bottom: 0;
    font-weight: bold;
    letter-spacing: -0.03em;
  }

  .entry-thumbmail {
    margin: -1rem -1rem 1rem -1rem;

    img {
      width: 100%;
    }
  }
}
