.widget {
  padding: var(--card-padding);
  border: 1px var(--gray-300) solid;
  border-radius: $border-radius;
  margin-bottom: $card-gap;
  overflow: hidden;

  h3 {
    color: $text-muted;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 0.03em;
  }

  & > ul {
    list-style: none;
    margin: calc(var(--card-padding) * -1);
    margin-top: 0;
    padding: 0;

    li {
      padding: 0.75rem var(--card-padding);
      border-bottom: 1px var(--gray-200) solid;

      &:last-child {
        border-bottom: 0;
      }

      a {
        display: block;
      }
    }
  }

  &_media_image {
    position: relative;
    padding: 0;
    border: 0;

    h3 {
      position: absolute;
      padding: var(--card-padding);
      bottom: -0.5rem;
      left: 0;
      right: 0;
      color: $white;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75));
      pointer-events: none;
      text-transform: none;
      letter-spacing: 0;
      text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  &_social_plugin {
    text-align: center;
    padding: 0;
  }
}

.zoom-instagram-widget {
  & > ul {
    display: grid;
    justify-content: center;
    padding: 1rem;
    grid-template-columns: repeat(auto-fit, 100px);
    grid-template-rows: repeat(auto-fit, 100px);
    gap: 0.5rem;

    li {
      padding: 0;
      margin: 0 !important;
      border-bottom: 0 var(--gray-200) solid;

      a {
        width: 100px !important;
        height: 100px !important;
      }
    }
  }

  &-user-info {
    padding-bottom: 0.5rem;
  }

  &-user-info .zoom-instagram-widget-user-info-username {
    font-weight: normal;
    font-size: 0.9rem;
  }
}

.hero-banner {
  .widget_media_image h3 {
    font-size: 2rem;
  }
}

@include media-breakpoint-down(sm) {
  .hero-banner {
    .widget_media_image h3 {
      font-size: 1.5rem;
    }
  }
}
