.single {
  .banner-local-name {
    height: calc(18rem + 14vh);

    a {
      margin-bottom: 4rem;
    }
  }

  article {
    position: relative;
    z-index: 1;
    margin-top: -6rem;
    background: $white;
    padding: 2rem;
    border-radius: $card-radius;
    box-shadow: $default-shadow;
  }

  .blob-1 {
    bottom: -30rem;
  }
}
