:root {
  --card-padding: 1rem;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

a:focus {
  outline: 0;
  box-shadow: 0 0 0 4px rgba($primary, 0.5);
  border-radius: 4px;
}

h1,
h2,
h3,
h4 {
  font-weight: bold;
  letter-spacing: -0.03em;
}

h4 {
  color: $gray-700;
  margin: 1.5rem 0;
}

.nav-open {
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
  }

  .banner-band-row--nav {
    overflow-y: scroll;
  }
}
