:root {
  --card-padding: 1rem;
  --text-default: #{$gray-900};
  --text-muted: #{$gray-700};
  --text-supermuted: #{$gray-600};
  --gray-lightest: #{$gray-lightest};
  --gray-100: #{$gray-100};
  --gray-200: #{$gray-200};
  --gray-300: #{$gray-300};
  --gray-400: #{$gray-400};
  --gray-500: #{$gray-500};
  --gray-600: #{$gray-600};
  --gray-700: #{$gray-700};
  --gray-800: #{$gray-800};
  --gray-900: #{$gray-900};
  --white: #{$white};
  --black: #{$gray-900};
}

html,
body {
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  margin: 0;
  padding: 0;
  color: $text-default;
}

.hidden {
  display: none;
}

.dark-only {
  display: none;
}

.light-only {
  display: block;
}

a:focus {
  outline: 0;
  box-shadow: 0 0 0 4px rgba($primary, 0.5);
  border-radius: 4px;
}

h1,
h2,
h3,
h4 {
  font-weight: bold;
  letter-spacing: -0.03em;
}

h4 {
  color: $text-muted;
  margin: 1.5rem 0;
}

.nav-open {
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
  }

  .banner-band-row--nav {
    overflow-y: scroll;
  }
}

a.apple-link {
  display: block;
  position: relative;
  margin-top: 1.25rem;
  font-size: 1.2rem;
  font-weight: 700;
  color: $text-muted;
  opacity: 0.75;

  span {
    transition: 0.25s ease-in-out;
    border-bottom: 2px solid transparent;
  }

  &:hover {
    text-decoration: none;
    color: $text-default;

    span {
      border-color: $text-default;
    }
  }

  &::after {
    content: " >";
  }
}
