/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

/* Colors */
$primary: #f60;
$link-hover-color: $primary;
$gradient-start: #d23517;
$gradient-end: #f39128;
$gradient: linear-gradient(var(--gradient-orientation, 45deg), $gradient-start, $gradient-end);
$primary-iniciativa: #ad283f;
$primary-verds: #5ab552;
$partits: (
  "iniciativa": $primary-iniciativa,
  "verds": $primary-verds
);

/* Grays */
$gray-darkest: #353949;
$gray-lightest: #f8faff;

$gray-100: mix($gray-darkest, $gray-lightest, 5%);
$gray-200: mix($gray-darkest, $gray-lightest, 10%);
$gray-300: mix($gray-darkest, $gray-lightest, 20%);
$gray-400: mix($gray-darkest, $gray-lightest, 30%);
$gray-500: mix($gray-darkest, $gray-lightest, 40%);
$gray-600: mix($gray-darkest, $gray-lightest, 50%);
$gray-700: mix($gray-darkest, $gray-lightest, 70%);
$gray-800: mix($gray-darkest, $gray-lightest, 90%);
$gray-900: $gray-darkest;
$black: $gray-darkest;

/* Fonts and background */
$body-bg: var(--gray-lightest);
$font-family-sans-serif: "Compromis", -apple-system, "Google Sans", "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif;
$text-muted: var(--text-muted);
$text-default: var(--text-default);
$text-supermuted: var(--text-supermuted);
$input-color: $text-default;
$input-bg: var(--white);
$input-border-color: var(--gray-300);

/* Border radius */
$border-radius: 0.5rem;

/* Shadows */
$default-shadow: 0 13px 28px -5px rgba($gray-900, 0.15),
  0 8px 16px -8px rgba($gray-900, 0.2),
  0 -6px 16px -6px rgba($gray-900, 0.015);

$raised-shadow: 0 20px 34px -5px rgba($gray-900, 0.15),
  0 15px 22px -8px rgba($gray-900, 0.2),
  0 -12px 22px -7px rgba($gray-900, 0.015);

/* Containers */
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1340px
);

/* Blobs */
$blob-rotation: -5deg;
$blob-radius: 5rem;
$blob-size: 45rem;

/* Cards */
$card-padding: 1rem;
$card-radius: 0.5rem;
$card-gap: 1.5rem;
